In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [2]:
data=pd.read_csv(r"C:\Users\PRIYANSHI\Desktop\Priyanshi\college\sem4\Data Mining\AQI_CODE_FILES\3b01bcb8-0b14-4abf-b6f2-c1bfd384ba69.csv")

In [3]:
data.isna().sum()

country            0
state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    233
pollutant_max    233
pollutant_avg    233
dtype: int64

In [4]:
data.dropna(inplace=True)
data.isna().sum()

country          0
state            0
city             0
station          0
last_update      0
latitude         0
longitude        0
pollutant_id     0
pollutant_min    0
pollutant_max    0
pollutant_avg    0
dtype: int64

In [5]:
data.drop(data[data['pollutant_id']!='PM10'].index,inplace=True)

In [6]:
df=data.groupby(['city','pollutant_id']).agg({'pollutant_min': 'min', 'pollutant_max': 'min'})

In [7]:
df['determiner'] = (df['pollutant_max']+df['pollutant_min'])/2
df

                            pollutant_min  pollutant_max  determiner
city          pollutant_id
Agartala      PM10                   70.0          118.0        94.0
Agra          PM10                   12.0           70.0        41.0
Ahmedabad     PM10                   27.0          101.0        64.0
Ahmednagar    PM10                   44.0          231.0       137.5
Aizawl        PM10                   54.0           94.0        74.0
...                                   ...            ...         ...
Virar         PM10                   43.0           98.0        70.5
Visakhapatnam PM10                   62.0          136.0        99.0
Vrindavan     PM10                   61.0          408.0       234.5
Yadgir        PM10                   38.0           88.0        63.0
Yamuna Nagar  PM10                   80.0          107.0        93.5

[228 rows x 3 columns]

In [12]:
bins = [0, 12, 35.5, 55.5, 150.4, np.inf]
categories = ['very healthy', 'healthy', 'moderate', 'unhealthy', 'very unhealthy']
df['classification'] = pd.cut(df['determiner'], bins=bins, labels=categories, right=False)

In [13]:
df

,,pollutant_min,pollutant_max,determiner,classification
city,pollutant_id,,,,
Agartala,PM10,70.0,118.0,94.0,unhealthy
Agra,PM10,12.0,70.0,41.0,moderate
Ahmedabad,PM10,27.0,101.0,64.0,unhealthy
Ahmednagar,PM10,44.0,231.0,137.5,unhealthy
Aizawl,PM10,54.0,94.0,74.0,unhealthy
...,...,...,...,...,...
Virar,PM10,43.0,98.0,70.5,unhealthy
Visakhapatnam,PM10,62.0,136.0,99.0,unhealthy
Vrindavan,PM10,61.0,408.0,234.5,very unhealthy
Yadgir,PM10,38.0,88.0,63.0,unhealthy
Yamuna Nagar,PM10,80.0,107.0,93.5,unhealthy

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Assuming your DataFrame is named 'data'

# Step 1: Prepare the data
X = data[['pollutant_min', 'pollutant_max', 'determiner']]  # Features
y = data['classification']  # Target variable

# Step 2: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Train the KNN classifier
k = 5  # Number of neighbors
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

# Step 4: Test the classifier
y_pred = knn.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

KeyError: "['determiner'] not in index"

In [ ]:
new_values = [[35,150,92.5]] #checking pm2.5 index for Manhattan city

# Convert the new values into a DataFrame
new_data = pd.DataFrame(new_values, columns=['pollutant_min', 'pollutant_max', 'determiner'])

# Test the model with the new data
predictions = knn.predict(new_data)

# Print the predictions
print("Predictions:", predictions)

In [ ]:
pip install seaborn

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
classes = np.unique(np.concatenate((y_test, y_pred)))

# Calculate the confusion matrix with the specified classes
conf_matrix = confusion_matrix(y_test, y_pred, labels=classes)

# Convert confusion matrix to DataFrame for visualization
conf_df = pd.DataFrame(conf_matrix, index=classes, columns=classes)

# Plot confusion matrix heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(conf_df, annot=True, cmap='Blues', fmt='g')
plt.title('Confusion Matrix')
plt.xlabel('Predicted Label')
plt.ylabel('True Label')
plt.show()