In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [3]:
data=pd.read_csv('pollution.csv')

In [4]:
data.isna().sum()

country            0
state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    233
pollutant_max    233
pollutant_avg    233
dtype: int64

In [6]:
data.dropna(inplace=True)
data.isna().sum()

country          0
state            0
city             0
station          0
last_update      0
latitude         0
longitude        0
pollutant_id     0
pollutant_min    0
pollutant_max    0
pollutant_avg    0
dtype: int64

In [13]:
data.drop(data[data['pollutant_id']!='PM2.5'].index,inplace=True)

In [20]:
df=data.groupby(['city','pollutant_id']).agg({'pollutant_min': 'min', 'pollutant_max': 'min'})

In [26]:
df['determiner'] = (df['pollutant_max']+df['pollutant_min'])/2
df

                            pollutant_min  pollutant_max  determiner
city          pollutant_id
Agartala      PM2.5                  34.0          135.0        84.5
Agra          PM2.5                   3.0           49.0        26.0
Ahmedabad     PM2.5                  18.0           78.0        48.0
Ahmednagar    PM2.5                  34.0          238.0       136.0
Aizawl        PM2.5                  23.0           40.0        31.5
...                                   ...            ...         ...
Vijayawada    PM2.5                  37.0           53.0        45.0
Visakhapatnam PM2.5                  27.0           92.0        59.5
Vrindavan     PM2.5                  25.0           98.0        61.5
Yadgir        PM2.5                  32.0           73.0        52.5
Yamuna Nagar  PM2.5                  60.0           83.0        71.5

[232 rows x 3 columns]

In [29]:
bins = [0, 12, 35.5, 55.5, 150.4, np.inf]
categories = ['very healthy', 'healthy', 'moderate', 'unhealthy', 'very unhealthy']
df['classification'] = pd.cut(df['determiner'], bins=bins, labels=categories, right=False)

In [30]:
df

,,pollutant_min,pollutant_max,determiner,classification
city,pollutant_id,,,,
Agartala,PM2.5,34.0,135.0,84.5,unhealthy
Agra,PM2.5,3.0,49.0,26.0,healthy
Ahmedabad,PM2.5,18.0,78.0,48.0,moderate
Ahmednagar,PM2.5,34.0,238.0,136.0,unhealthy
Aizawl,PM2.5,23.0,40.0,31.5,healthy
...,...,...,...,...,...
Vijayawada,PM2.5,37.0,53.0,45.0,moderate
Visakhapatnam,PM2.5,27.0,92.0,59.5,unhealthy
Vrindavan,PM2.5,25.0,98.0,61.5,unhealthy
Yadgir,PM2.5,32.0,73.0,52.5,moderate
Yamuna Nagar,PM2.5,60.0,83.0,71.5,unhealthy

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Assuming your DataFrame is named 'data'

# Step 1: Prepare the data
X = data[['pollutant_min', 'pollutant_max', 'determiner']]  # Features
y = data['classification']  # Target variable

# Step 2: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Train the KNN classifier
k = 5  # Number of neighbors
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

# Step 4: Test the classifier
y_pred = knn.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9767441860465116